   #root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}  


.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  background-color: rgb(184, 132, 132);
}
.logo{
  width: 35px;
  height: 35px;
}